div{
    background-color:rgba(159, 139, 8, 0.499);
    /* background-color: antiquewhite; */
}
p{
    color: pink   ;
    font-weight:bold;
    
}
.first{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
#second{
    color:purple;
    font-size: 50px;
}
